body, html {
    background-color: rgb(80, 80, 80);
    padding: 0px;
    margin: 0px;
    height: 120%;
}

* {
    margin: 0;
}

div {
    box-sizing: border-box;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    background-color:darkseagreen;
    justify-content: space-between;
    padding: 15px;
}

.navbar p {
    position: relative;
    max-width: fit-content;
    color: black;
    font-size: 40px;
    font-family: sans-serif;
    user-select: none;
    text-decoration: none;
    line-height: 1;
    margin: 0px 20px 0px 20px;
    cursor:pointer;
}

.child {
    display: flex;
}

.icon {
    display: flex;
    color: blue;
    font-size: 40px;
    cursor: pointer;
}

.button{
    height: 100%;
    right: 0%;
    background-color: crimson;
    font-size: 30px;
    font-family: sans-serif;
    cursor:pointer;
    border: none;
}

.button:active {
    background-color: blueviolet;
}

.slidingbar {
    position: fixed;
    left: var(--NTabWidth);
    width: var(--TabWidth);
    top: var(--navbar-height);
    bottom: var(--musicbar-height);
    background-color: rgba(173, 216, 230, 1);
    transition: left 0.3s ease-in-out;
    border: 1px solid greenyellow;
}

.options {
    font-size: 30px;
    user-select: none;
    width: fit-content;
    border: 1px solid red;
    margin: 15px;
}

.options div {
    display: flex;
    margin-top: 15px;
    cursor: pointer;
  }

.options p {
    margin-left: 15px;
}

.tab:nth-child(1) {
    margin: 0;
}

.category {
    margin-top: 100px;
    width: 100%;
    height: auto;
    background-color: chocolate;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    border: 1px solid red;
    padding: 15px;
}

.song {
    width: 400px;
    padding: 10px;
    font-size: 30px;
    font-family: sans-serif;
    border: 1px solid greenyellow;
    margin-bottom: 15px;
    cursor: pointer;
    user-select: none;
}

.song:nth-child(n+4) {
    margin-bottom: 0px;
}

.group {
    margin-top: 35px;
    margin-bottom: 35px;
    width: 100%;
    display: flex;
    border: 1px solid red;
    justify-content: space-between;
}

.box {
    height: 200px;
    width: 200px;
    background-color: gold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 20px;
    user-select: none;
    transition: background-color 0.5s, font-size 0.5s;
    transition-timing-function: ease-in-out;
}

.box:hover {
    background-color: blueviolet;
    font-size: 50px;
}

.parent {
    width: 100%;
    border: 1px solid red;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.children {
    width: 45%;
    border: 1px solid greenyellow;
    padding: 15px;
}

.children:nth-child(3) {
    width: 100%;
    margin-top: 15px;
}

.musicbar {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color:turquoise;
}

@media screen and (max-width:1000px) {

    .children:nth-child(3) {
        width: initial;
    }

    .parent{
        display: flex;
        flex-direction: column;
    }

    .children {
        width: 100%;
        margin-top: 15px;
    }

    .group {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .group div {
        width: 100%;
        margin-top: 10px;
    }

}

::-webkit-scrollbar {
    background-color:coral;
}

::-webkit-scrollbar-thumb {
    background-color: burlywood;
}
